@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/toastr.scss";
@import "assets/styles/variables.scss";

html, body{
  margin:0;
  padding:0;
  height:100%;
}

.mat-form-field {
  width: 100%;
}

button > .material-icons{
  vertical-align: middle;
}

.list-crud{
  background-color : transparent;
  padding: $crud-form-padding;
}

.th.mat-sort-header-sorted {
  color: black;
}

.padding-bottom{
  padding-bottom: $crud-new-button-padding-bottom;
}




