<div class="list-crud">
  <mat-card>
    <mat-card-title>Cadastro de Pratos</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="formSubmited()">
        <mat-form-field>
          <mat-select
            name="restaurante"
            placeholder="Restaurante"
            required
            [compareWith]="compareObjects"
            [(value)]="entity.restaurant"
          >
            <mat-option *ngFor="let item of restaurants"  [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            name="prato"
            placeholder="Prato"
            [(ngModel)]="entity.name"
            required
            #pratoField="ngModel">
          <mat-error *ngIf="pratoField.invalid">Prato deve ser informado</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="number"
            name="preco"
            placeholder="Preço"
            [(ngModel)]="entity.price"
            required
            #precoField="ngModel">
          <mat-error *ngIf="precoField.invalid">Preço deve ser informada</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="float:right; padding-right:10px;">
      <button
        mat-button
        color="primary"
        (click)="backToList()"
      >Cancelar</button>
      <button
        mat-raised-button
        (click)="formSubmited()"
        color="primary"
        [disabled]="precoField.invalid || pratoField.invalid"
      ><i class="material-icons">
        save
      </i>
        Gravar</button>
    </mat-card-actions>
    <br>
    <br>
  </mat-card>


</div>
