$background-older: #BE93C5;
$background-older-chrome: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
$background-newer-browser: linear-gradient(to right, #7BC6CC, #BE93C5);

$login-width : 300px;
$login-height : 150px;

$side-bar-width : 200px;
$side-bar-box-shadow : 3px 0 6px rgba(0,0,0,.24);

$crud-form-padding : 15px;
$crud-new-button-padding-bottom : 10px;
